@font-face {
  font-family: "cyber-icon"; /* Project id 4140948 */
  src: url('iconfont.woff2?t=1689251839034') format('woff2'),
       url('iconfont.woff?t=1689251839034') format('woff'),
       url('iconfont.ttf?t=1689251839034') format('truetype');
}

.cyber-icon {
  font-family: "cyber-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cyber-tool:before {
  content: "\e63d";
}

.cyber-shangyiyehoutuifanhui-xianxingyuankuang:before {
  content: "\e8f0";
}

.cyber-yunweiguanli:before {
  content: "\e644";
}

.cyber-shuaxin:before {
  content: "\e618";
}

.cyber-collapse:before {
  content: "\e61d";
}

.cyber-fanhui:before {
  content: "\e62d";
}

.cyber-drop-down:before {
  content: "\e679";
}

.cyber-close:before {
  content: "\e636";
}

.cyber-sousuo:before {
  content: "\e602";
}

.cyber-chenggong:before {
  content: "\e7b3";
}

.cyber-shibai:before {
  content: "\e64b";
}

.cyber-caozuo:before {
  content: "\e637";
}

.cyber-xiajiantou:before {
  content: "\e608";
}

.cyber-jinggao:before {
  content: "\e63b";
}

.cyber-xianshimima:before {
  content: "\e63c";
}

.cyber-yincangmima:before {
  content: "\e63e";
}

.cyber-xinjian:before {
  content: "\e649";
}

.cyber-shanchu:before {
  content: "\e64d";
}

.cyber-bianji:before {
  content: "\e64f";
}

.cyber-plus:before {
  content: "\e676";
}

.cyber-reduce:before {
  content: "\e677";
}

.cyber-vector:before {
  content: "\e694";
}

